<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>IP Review</title>
    <link rel="stylesheet" href="fhir.css"/>
  </head>
  <body>
    <h2>Unattributed Code Systems</h2>
    <ul>
      <li>
        <a href="StructureDefinition-IneraPatient.html">
<code>urn:iso:std:iso:3166</code>        </a>
      </li>
    </ul>
    <h2>Copyright Fragment</h2>
    <p style="color: maroon">
      <b>This fragment is not visible to the reader</b>
    </p>
    <div>Ingen användning av extern IP (annan än från FHIR-specifikationen)</div>
    <h2>Copyright and Registered Trademark Uses</h2>
    <ul>
      <li>

          IG &copy; 2024+ Inera AB.  Package inera.core.template#2.0.0 based on FHIR 4.0.1. Generated 2026-06-25
          
          
                      Links: Table of Contents |
                 QA Report
                 
                
          
         (        <a href="workflow.html">src</a>
)
      </li>
      <li>

          hl7.fhir.us.hai: Healthcare Associated Infection Implementation Guide  &reg;&copy; HL7 |
             
                CC0
         (        <a href="searchform.html">src</a>
)
      </li>
      <li>
Inera FHIR Implementation Guide Template - Lokal utvecklingsbygge (v2.0.0) byggt av FHIR (HL7&reg; FHIR&reg; Standard) Build Tools. Se katalogen över publicerade versioner (        <a href="workflow.html">src</a>
)
      </li>
    </ul>
    <h2>External References</h2>
    <table class="grid">
      <tr>
        <th>
          <b>Type</b>
        </th>
        <th>
          <b>Reference</b>
        </th>
        <th>
          <b>Content</b>
        </th>
      </tr>
      <tr>
        <td>
          <a href="Patient-IneraPatientExample.change.history.html">web</a>
        </td>
        <td>
          <a href="https://www.inera.se">www.inera.se</a>
        </td>
        <td>

            <a id="inera-logo" href="https://www.inera.se" data-no-external="true">

    <img src="inera-logo-header.svg" alt="Inera" height="50"/>
  
          </a>


        </td>
      </tr>
      <tr>
        <td>
          <a href="Patient-IneraPatientExample.change.history.html">web</a>
        </td>
        <td>
          <a href="https://www.inera.se">www.inera.se</a>
        </td>
        <td>

          IG &copy; 2024+           <a style="color:var(--footer-hyperlink-text-color)" href="https://www.inera.se">Inera AB</a>
.  Package inera.core.template#2.0.0 based on           <a style="color: var(--footer-hyperlink-text-color)" href="http://hl7.org/fhir/R4/">FHIR 4.0.1</a>
. Generated           <span title="Thu, Jun 25, 2026 07:56+0000">2026-06-25</span>

                    <br/>

                    <span style="color: var(--footer-highlight-text-color)">

                      Links: <a style="color: var(--footer-hyperlink-text-color)" href="toc.html">Innehållsförteckning</a> |
                 <a style="color: var(--footer-hyperlink-text-color)" href="qa.html">QA-rapport</a>
                 
                
          
          </span>

        
        </td>
      </tr>
      <tr>
        <td>
          <a href="index.html">web</a>
        </td>
        <td>
          <a href="https://www.inera.se/tjanster/alla-tjanster-a-o/terminologitjanst-for-nationell-e-halsa/">www.inera.se</a>
        </td>
        <td>
På           <a href="https://www.inera.se/tjanster/alla-tjanster-a-o/terminologitjanst-for-nationell-e-halsa/">Inera Terminologitjänst</a>
 finns alla refererade kodsystem och värdemängder som utvecklats av Inera.
        </td>
      </tr>
      <tr>
        <td>
          <a href="index.html">web</a>
        </td>
        <td>
          <a href="https://www.inera.se/tjanster/alla-tjanster-a-o/inera-core/">www.inera.se</a>
        </td>
        <td>
Mer information om Inera Core finns           <a href="https://www.inera.se/tjanster/alla-tjanster-a-o/inera-core/">här</a>
. Inera Core är en del av RIVTA – referensarkitekturen för svensk hälso- och sjukvård.
        </td>
      </tr>
      <tr>
        <td>
          <a href="index.html">web</a>
        </td>
        <td>
          <a href="https://github.com/inera-ab">github.com</a>
        </td>
        <td>
FHIR-profiler förvaltas av Inera:           <a href="https://github.com/inera-ab">Källkod</a>
.
        </td>
      </tr>
      <tr>
        <td>
          <a href="index.html">web</a>
        </td>
        <td>
          <a href="https://www.inera.se/fhir">www.inera.se</a>
        </td>
        <td>
En beskrivning av krav på konformans och vägledning för Ineras FHIR-IG:ar finns på           <a href="https://www.inera.se/fhir">Inera FHIR-landningssidan</a>
.
        </td>
      </tr>
      <tr>
        <td>
          <a href="terminology.html">web</a>
        </td>
        <td>
          <a href="https://www.inera.se/tjanster/alla-tjanster-a-o/terminologitjanst-for-nationell-e-halsa/">www.inera.se</a>
        </td>
        <td>
Alla kodsystem och värdemängder som refereras i denna IG och som utvecklats av Inera publiceras på           <a href="https://www.inera.se/tjanster/alla-tjanster-a-o/terminologitjanst-for-nationell-e-halsa/">Inera Terminologitjänst</a>
.
        </td>
      </tr>
      <tr>
        <td>
          <a href="version-history.html">web</a>
        </td>
        <td>
          <a href="https://github.com/googleapis/release-please">github.com</a>
        </td>
        <td>
This page is maintained automatically by           <a href="https://github.com/googleapis/release-please">release-please</a>
.
Entries are generated from commit messages that follow           <a href="https://www.conventionalcommits.org/">Conventional Commits</a>
.
        </td>
      </tr>
      <tr>
        <td>
          <a href="version-history.html">web</a>
        </td>
        <td>
          <a href="https://www.conventionalcommits.org/">www.conventionalcommits.org</a>
        </td>
        <td>
This page is maintained automatically by           <a href="https://github.com/googleapis/release-please">release-please</a>
.
Entries are generated from commit messages that follow           <a href="https://www.conventionalcommits.org/">Conventional Commits</a>
.
        </td>
      </tr>
    </table>
    <h2>Internal Images</h2>
    <table class="grid">
      <tr>
        <td>
inera-logo-header.svg          <br/>
          <img src="inera-logo-header.svg" alt="inera-logo-header.svg" width="600px" height="auto"/>
        </td>
      </tr>
      <tr>
        <td>
tree-filter.png          <br/>
          <img src="tree-filter.png" alt="tree-filter.png" width="600px" height="auto"/>
        </td>
      </tr>
    </table>
  </body>
</html>
